body {
    margin: 0;
}
.datos{
    background-image: url("/img/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    background-position: center;
    position: relative;
}
.descripcion{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: larger;
}
